<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menú </span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu </mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Lista de hoteles</span>
            </a>
            <a routerLink="./map" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>map</mat-icon>
                <span>Ver mapa</span>
            </a>
            <a routerLink="./client-area" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>supervisor_account</mat-icon>
                <span>Mi cuenta</span>
            </a>
            <a routerLink="./about" mat-list-item (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>help</mat-icon>
                <span>Sobre nosotros</span>
            </a>

        </mat-nav-list>

    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span>{{auth.usuario}}</span>

        <button mat-button>
            Mi cuenta
        </button>

        <button mat-button (click)="logout()">
            Logout
        </button>

    </mat-toolbar>



<div class="container">
    <router-outlet></router-outlet>
</div>

</mat-sidenav-container>