<mat-card >
    <mat-card-header>
        <mat-card-title >{{hotel.htlName}}</mat-card-title>
        <mat-card-subtitle>{{hotel.htlEmail}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hotel | imagen">
   
    <mat-card-actions>
        <button mat-raised-button color="accent" [routerLink]="['/heroes/editar',hotel.idHotel]">Reservar</button>
        <button mat-raised-button color="secondary" [routerLink]="['/heroes/editar',hotel.idHotel]">Leer más</button>
    </mat-card-actions>
    <mat-card-content>
        <p align="justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.         
        </p>
    
    </mat-card-content>

    
</mat-card>